<!DOCTYPE html>
<html>
<body>

	<h2>Prediciton Probabilities:</h2>
	{{ pred_list }}
  <h2>Prediction :</h2>
  {{ prediction }}

  <br><br><br><br><br>

  <h2>Last Image Sent:</h2>

  <img id="myImg" src="{{ image_url }}" width="256" height="256">



<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script>
// <script>
//   // Initialize Firebase
//   var config = {
//     apiKey: "AIzaSyAH3LvK1bKBXirEI7AtkDJYvivHVBeip0s",
//     authDomain: "diseasedetect-e39f6.firebaseapp.com",
//     databaseURL: "https://diseasedetect-e39f6.firebaseio.com",
//     projectId: "diseasedetect-e39f6",
//     storageBucket: "diseasedetect-e39f6.appspot.com",
//     messagingSenderId: "165293326729"
//   };
//   firebase.initializeApp(config);
// </script>

<script >

// 	var fileId = 1;
//     var file_name = "as";
//     var file = "{{ str }}"
//     console.log(file)
    

//    	var storageRef = firebase.storage().ref();
//    	// Create a reference to 'mountains.jpg'
// 	var mountainsRef = storageRef.child('segmented.jpg');

//  // 	var task = storageRef.ref.putString(file, 'base64').then(function(snapshot) {
//  //  			console.log('Uploaded a base64 string!');
// 	// });
//  // 	console.log("Up[loading");
//  mountainsRef.putString(file, 'base64url').then(function(snapshot) {
//   console.log('Uploaded a base64url string!');
// });
  
var database = firebase.database();
       // firebase.database().ref().set({ //Change here
       //    "id" : "sa",
       //    "name" : "album_name",
       //    "singer" : "singer",
       //    "songs_total" : "songs_total" ,
       //    "cover" : ""
       //  });

var last_entry = firebase.database().ref('last_entry/');
last_entry.once('value').then(function(snapshot) {
    var v= snapshot.val()
    console.log(v);
});

var image_url = firebase.database().ref('last_url/');
image_url.once('value').then(function(snapshot) {
    var v= snapshot.val()
    console.log(v);

    
    // document.getElementById("myImg").setAttribute('src',v);
    
});



console.log("set");


	
</script>

</body>
</html>
